<div class="row row-deck row-cards">
<div class="col-sm-6 col-lg-3">

    <div class="card">

        <div class="card-body">

            <div class="h1">
                <%= totalOrders %>
            </div>

            <div>
                Orders
            </div>

        </div>

    </div>

</div>

<div class="col-sm-6 col-lg-3">

    <div class="card">

        <div class="card-body">

            <div class="h1">
                <%= totalCustomers %>
            </div>

            <div>
                Customers
            </div>

        </div>

    </div>

</div>

<div class="col-sm-6 col-lg-3">

    <div class="card">

        <div class="card-body">

            <div class="h1">
                <%= totalInvoices %>
            </div>

            <div>
                Invoices
            </div>

        </div>

    </div>

</div>

<div class="col-sm-6 col-lg-3">

    <div class="card">

        <div class="card-body">

            <div class="h1">
                Rp <%= revenue %>
            </div>

            <div>
                Revenue
            </div>

        </div>

    </div>

</div>

</div>
